#sidebar {
    padding-top: 5rem;
}
.sidebar-content {
    padding-left: 2rem;
    padding-right: 2rem;
}
.content-column {
    padding-top: 2.5rem;
}
.col-lg-8 {
    width: 100%;
}
.sidebar-p {
    color: #999999;
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 15px;
    text-align: center;
}
.sidebar-heading {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 0em;
    margin-top: 0;
    margin-bottom: 15px;
    text-align: center;
}
.sidebar-menu li {
    margin-bottom: 5px;
    text-align: center;
    font-size: 18px;
}
p.social a {
    margin: 5px 5px 5px 5px;
    color: #fff;
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    line-height: 40px;
    font-size: 15px;
    text-align: center;
    vertical-align: bottom;
    border: solid 1px #999999;
    color: #999999;
    transition: all 0.2s ease-out;    
}
p.social {
    display:flex;
    justify-content:center;
}    
.copyright {
    color: #999999;
    font-size: 13px;
    text-align: center;
}